extends layout

block content
  h1= 'Departures from ' + departures.station.name
  nav
    a(href='/') Home
  ul.transfers
    each transfer in departures.station.transfers.transfer
      li.transfer
        h2
          span.destination= transfer.destination.replace(/,/g, ', ')
          time(datetime=transfer.departure)= transfer.departure.split(' ')[1]
        p.type= transfer.type
        p.track= 'Spår ' + transfer.track
